specVersion: v0.1.0
description: # add description
repository: # fill in with git remote url
schema:
  file: ./schema.graphql

dataSources:
  - kind: substreams
    name: {{ .name }}
    network: mainnet
    source:
      package:
        moduleName: graph_out
        file: {{ .name }}-v0.1.0.spkg
    mapping:
      kind: substreams/graph-entities
      apiVersion: 0.0.5
