*~
.zed
.envrc
.env.release
.env
.DS_Store
.idea
.vscode
target
.goreleaser.SOURCE_ME.sh
/dist
/substreams
/store-to-badger
.fleet
/codegen/test_substreams/src/
/build
/sink-data
/generator*.json
replay.log
*.wasm
/wasm/bench/substreams_tiny_go/main.wasm
generator.json
devel/codegen
node_modules/
package-lock.json
state.cursor
/wasigo
/.claude
.substreams.env
plans/
