import { log } from "@graphprotocol/graph-ts";
import { Protobuf } from "as-proto/assembly";
import { JSON } from "assemblyscript-json";
import { {{ $.GetEntityOutputName }} } from "../generated/schema";
import { {{ $.GetEntityOutputName}} } from "./pb/contract/v1/Triggers";


export function handleTriggers(bytes: Uint8Array): void {
  const {{ $.GetEntityOutputName }} = Protobuf.decode<{{ $.GetEntityOutputName}}>(
    bytes,
    {{ $.GetEntityOutputName }}.decode
  );

  test
}

