{{- range $i, $contract := .ethereumContracts }}
pub mod {{ $contract.GetName }}_contract;
{{- range $ddsContract := $contract.GetDDS }}
pub mod {{ $ddsContract.GetName }}_contract;
{{- end }}
{{- end }}