{{- $numberOfContracts := len .ethereumContracts }}
{{- if eq $numberOfContracts 1 }}
pub mod contract;
{{- else }}
{{- range $i, $contract := .ethereumContracts }}
pub mod {{ $contract.Name }}_contract;
{{- end }}
{{- end }}